<div class="container">
	<h2>This will be an area with some interesting stuff </h2>
	<h2>For now, just know that they way to delete a thread or comment is by editing it to have all fields blank. To edit the thread, click on the pencil when the thread is collapsed.  To edit a comment click on the the pencil in the comment area. Everyone can edit anything. Anyone can delete everything.  </h2>
        
<p>This site is built with MongoDb, Python, and  AngularJS and there is a lot of flexibility in terms of adding features.  There is other off-the-shelf wiki software, like mediawiki which is what Wikipedia used. But that seemed a bit over the top and I have less control over it (in terms of being able to add features).
The ‘end goal’ is to share information, best practices, etc.  It is like writing an email to ALL government employees, but better because you don’t have to spam everyone’s inbox.  
Here is an example.  I wrote a web scraper that takes data from the NYS DOH website and converts all the data into a nicely formatted CSV file.  I can post a note saying that I did it, provide an email, and let others reach out to me if they want the code, the file, the results, or something similar.  In the future, I can post all that right to the site.
That is a lot better than emailing everyone at DOH and then someone being like ‘oh that is helpful, let me save this email in my outlook archive and try to remember that it exists so if I ever need it again I can try to search through the Archive Explorers for that email that I vaguely remember something about which I might never find because I accidently deleted it or moved it to the wrong folder… ’
Same thing with Vision Zero traffic data.  I built a web scraper.  Turns out another gov. employee had already built a scraper.  Double work that could easily have been avoided!  These examples might not apply to you, but I bet you could find a use case for you and your office.    
 </p>

</div>
