

<div ng-controller="editorCtrl">
	<div class= "container">
		<div class="row">
			This is the Editor
		</div>
		<br>	
		<form role="newPostForm">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="post.tt" placeholder="Enter Title" required>
			</div>
			<div class="form-group">
					<div text-angular ng-model="post.dsc"></div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="post.ath" placeholder="Enter Author" required>
			</div>
				<button class="btn btn-default btn-lg" ng-click="savePost(post)"> Submit </button>
		</form>			
	</div>
</div>
