<!DOCTYPE HTML>
<html lang="en" ng-app="angApp">  
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Project Managment</title>
		<!-- Jquery -->
<!--    <script src="https://code.jquery.com/jquery.js"></script> -->
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!--    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
		<!-- Angular Source Files -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
		<script src="static/ui-bootstrap-tpls-0.10.0.min.js"> </script>
		
		<!-- My Angular Module, CSS -->
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script type="text/javascript" src="static/angApp.js"></script>
		<script type="text/javascript" src="static/controller/mainCtrl.js"></script>
		<script type="text/javascript" src="static/controller/newPostCtrl.js"></script>
	</head>

	<body>
		<div ng-view></div>
	</body>
</html>



