
<div class="container">
	<h2> Create A New Post </h2>	
	<form role="newPostForm">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="post.tt" placeholder="Enter Title" required>
		</div>
		<div class="form-group">
			<h2> Write Some Stuff </h2>
			<div text-angular ng-model="post.dsc"></div>
		</div>
		<div class="form-group">
			<h2>Author Name</h2>
			<input type="text" class="form-control" ng-model="post.ath" placeholder="Enter Author" required>
		</div>
		<a href="/"> 
			<button class="btn btn-default btn-lg" ng-click="saveThread(post)">Submit</button>
		</a>
	</form>				
</div>